
:root{
--orange : #F59E0B
;
}

legend, label, input, body {
    font: normal 1rem verdana, helvetica, sans-serif;
}

fieldset {
    padding: 25px;
    border: 0.2rem var(--orange) solid;
    background-color: #fafafa;
}

legend {
    font-weight: bold;
    font-size: 1.35rem;
    color: var(--orange);
}

form {
    padding-top: 2rem;
}

form label.required::after{
    content:"*";
    color: #c00;
}

form input {
    margin: 8px 8px 0px 0px;
    border: 1px #999 solid;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

form input:focus-visible {
    /*border: 1px var(--orange) solid !important;*/
    outline-color: var(--orange);
    outline-width: 1px;

}

form input.noLabel {
    margin-left: 200px;
}

main { /*le formulaire et le carré sont centrés*/
    display: flex;
	flex-direction: column;
    align-items: center;
}

.input-groupe {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.send {
    display: flex;
    justify-content: flex-end;
}

.send input {
    background-color: var(--orange);
    color : white;
}

.error {
    color : red;
    font-size : 9pt;
}

/*modification du header*/

header{
    display: flex;
    justify-content: space-around !important;
    align-items: baseline;
    background-color: #F59E0B;
    margin-bottom: 2rem;
}

h1{
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    color: white;
    margin-right: 1rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.menu{
    position: relative;
    bottom: 1rem;
}

html, body{
    margin: 0;
}